# Java artifacts
*.class
*.jar
*.war
*.ear
hs_err_pid*


# Eclipse
.project
.classpath
.settings/**


# IntelliJ
.idea/**
*.iml


# Maven
target/**
**/target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties


